body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  
}
h3 {
    justify-content: center;
    text-align:center;

}

#navbar {
  background-color: #301848;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  text-align: center;
  color: #3e1d5f;
  font-size: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  text-align: center;
  color: #000000;
  font-size: 30px;
  justify-content: center;
  
}

.rectangle {
margin-left: 50px;
margin-top: 60px;
  width: 500px;
  height: 200px;
 justify-content: center;
  
}    

.faq-section {
    max-width:400px;
    margin:50px;
    padding:60px;
    

}
.faq-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color:#221f1f;

}
.faq-item {
    border-bottom:1px solid #ddd;
    padding: 10px 0;

}

.faq-question{
    background: none;
    border: none;
    width:100%;
    text-align:left;
    font-size:1.2rem;
    color:#007bff;
    cursor: pointer;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.faq-questions:focus{
    outline:none;
}

.icon {
    font-size: 1.5rem;
    color: #007bff;
}
.faq-answer{
    padding:10px;
    font-size: 1rem;
    color:#555;
    display:none;
}
.faq-question.active .icon{
    content: "-";
 
}
