img { 
	width: 100%; 


 }
body { 
display: flex;
	background-color:pink;
	justify-content: center;
}

margin: 0;
 
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


@font-face {
    font-family: "Devanagari";
    src: url("https://db.onlinewebfonts.com/t/67d00930efce5803815fa854f1c5512a.eot");
    src: url("https://db.onlinewebfonts.com/t/67d00930efce5803815fa854f1c5512a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/67d00930efce5803815fa854f1c5512a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/67d00930efce5803815fa854f1c5512a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/67d00930efce5803815fa854f1c5512a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/67d00930efce5803815fa854f1c5512a.svg#Devanagari")format("svg");
}

#container {
background-color: white;
max-width:1000px;
align-content: center;
}

h1 {font-size: 128px;}
h1:hover {
	color:blue;
	
}
h2 {
  font-size: 64px;
}


p {
	font-size: 36px;
}

p:hover {
	background-color: yellow;
}

